---
title: 'Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/flowers.webp'
permalink: 'services/'
eleventyNavigation:
    key: services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">What We Do</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/flowers.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/flowers.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/flowers.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

   <!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1265">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">our specialty</span>
            <h2 class="cs-title">Farm & Local Food Websites</h2>
            <p class="cs-text">We can help your small farm or food business by providing tailored design solutions and developing websites that cater to your specific needs. Our team of experienced professionals will collaborate with you to create functional and visually appealing designs that align with your brand identity and business objectives.</p>
            <a href="/about" class="cs-button-solid" aria-label="learn more about us">Learn More</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h2 class="cs-h2">Unlimited Edits</h2>
                <p class="cs-item-text">We will manage and update your website for you! All done in just a couple of hours.</p>
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-mark-stebnicki-2886937.webp">
                    <source media="(min-width: 601px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-mark-stebnicki-2886937.webp">
                    <img loading="lazy" decoding="async"
                            src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-mark-stebnicki-2886937.webp" alt="therapy"
                            width="305" height="200">
                </picture>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">High Performing</h2>
                <p class="cs-item-text">Our sites load super fast and are optimized for search and Google.</p>
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-julia-avamotive-1034825.webp">
                    <source media="(min-width: 601px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-julia-avamotive-1034825.webp">
                    <img loading="lazy" decoding="async"
                            src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-julia-avamotive-1034825.webp" alt="therapy"
                            width="305" height="200">
                </picture>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">Hosting and Maintenance</h2>
                <p class="cs-item-text">We take care of the hosting and regular maintenance of your website and offer 24/7 customer service.</p>
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-jonathan-petersson-1297307.webp">
                    <source media="(min-width: 601px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-jonathan-petersson-1297307.webp">
                    <img loading="lazy" decoding="async"
                            src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-jonathan-petersson-1297307.webp" alt="therapy"
                            width="305" height="200">
                </picture>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">E-Commerce</h2>
                <p class="cs-item-text">We can set up any kind of online store solution you have in place, or help you get set up with a new store to help boost sales.</p>
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-engin-akyurt-1769279.webp">
                    <source media="(min-width: 601px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-engin-akyurt-1769279.webp">
                    <img loading="lazy" decoding="async"
                            src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-engin-akyurt-1769279.webp" alt="therapy"
                            width="305" height="200">
                </picture>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/orange-waves.png" alt="waves">
    </picture>
</section>

<section id="logos-572">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/logo1.png" alt="logo" width="287" height="65" loading="lazy" decoding="async">
        <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/logo2.png" alt="logo" width="229" height="55" loading="lazy" decoding="async">
        <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/logo3.png" alt="logo" width="235" height="53" loading="lazy" decoding="async">
        <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos/logo4.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
    </div>
</section>
               

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1264">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Passion</span>
            <h2 class="cs-title">Telling Your Story</h2>
            <p class="cs-text">We are deeply committed to showcasing the unique story of your farm and supporting your success through diverse marketing strategies. Our goal is to assist you in crafting a tailored project and establishing a detailed strategy that aligns with your individual needs and preferences.</p>
            <a href="" class="cs-button-solid" aria-label="learn more about us">Learn More</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h2 class="cs-h2">Branding & Identity</h2>
                <p class="cs-item-text">We can help you </p>
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-mark-stebnicki-2886937.webp">
                    <source media="(min-width: 601px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-mark-stebnicki-2886937.webp">
                    <img loading="lazy" decoding="async"
                            src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-mark-stebnicki-2886937.webp" alt="therapy"
                            width="305" height="200">
                </picture>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">Content Creation</h2>
                <p class="cs-item-text">We’ve helped thousands of organizations transform to become relevant of helped thousands.</p>
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-julia-avamotive-1034825.webp">
                    <source media="(min-width: 601px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-julia-avamotive-1034825.webp">
                    <img loading="lazy" decoding="async"
                            src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-julia-avamotive-1034825.webp" alt="therapy"
                            width="305" height="200">
                </picture>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">Advertising & Graphic Design</h2>
                <p class="cs-item-text">We’ve helped thousands of organizations transform to become relevant of helped thousands.</p>
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-jonathan-petersson-1297307.webp">
                    <source media="(min-width: 601px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-jonathan-petersson-1297307.webp">
                    <img loading="lazy" decoding="async"
                            src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-jonathan-petersson-1297307.webp" alt="therapy"
                            width="305" height="200">
                </picture>
            </li>
            <li class="cs-item">
                <h2 class="cs-h2">Email & SMS</h2>
                <p class="cs-item-text">We’ve helped thousands of organizations transform to become relevant of helped thousands.</p>
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-julia-avamotive-1034825.webp">
                    <source media="(min-width: 601px)"
                            srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-julia-avamotive-1034825.webp">
                    <img loading="lazy" decoding="async"
                            src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/pexels-julia-avamotive-1034825.webp" alt="therapy"
                            width="305" height="200">
                </picture>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/orange-waves.png" alt="waves">
    </picture>
</section>
                                
                                
    {% include 'components/cta.html' %}

{% endblock %}