---
title: 'Cultivate Local'
description: 'Local food marketing for farms and food businesses'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-82">
    <div class="cs-container">
        <h1 class="cs-title">Farm Websites & Marketing For Local Food </h1>
        <p class="cs-text">
            You have enough to do — partner with Cultivate and we’ll take care of the marketing! We can help with website design, Google marketing, email automations, SMS marketing, advertising, graphic design, and more. We're passionate about serving local farms, food councils, and local food initiatives across the US and Canada.
        </p>
        <a href="" class="cs-button-solid">Start A Conversation</a>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/mixed-ripe-vegetables-m.webp">
        <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/mixed-ripe-vegetables%20(1).jpg">
        <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/mixed-ripe-vegetables%20(1).jpg" alt="kitchen" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1565">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/model.jpg" alt="model" width="586" height="752" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title">Farm Marketing Consultants</h2>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/price-tag.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">We Have Expertise</h3>
                        <p class="cs-li-text">
                            The Cultivate team already has expertise, so you don’t have to spend time and money learning how to do it yourself. We are experts in marketing strategy, graphic design, HTML, CSS, website design, Squarespace, e-commerce, email marketing, digital advertising, and more!
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/sheild.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">We Manage The Process</h3>
                        <p class="cs-li-text">
                            We will walk you through the whole process and we will think of everything. We will help you with the strategy, design, and implementation of your project. We will also help you with the ongoing management of your website and marketing plan.  
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/bag.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">We Have The Connections</h3>
                        <p class="cs-li-text">
                          We are proficient in the tools and platforms that are essential for marketing your farm or local food business. We have experience and certifications with many of the modern e-commerce platforms and can get you up to speed with your website or store, all with your unique business in mind.
                        </p>
                    </div>
                </li>
            </ul>        
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<div id="logos-1565">
    <div class="cs-container">
        <span class="cs-header">Some of our Pals</span>
        <div class="cs-logo-group">
            <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/shopify-white.png" alt="logo" width="280" height="100" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/mailchimp.png" alt="logo" width="280" height="100" loading="lazy" decoding="async">
        </picture>
        <!-- <picture class="cs-picture">
            <img class="cs-logo" src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/square.png" alt="logo" width="200" height="200" loading="lazy" decoding="async">
        </picture> -->
        <picture class="cs-picture">
            <img class="cs-logo" src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/google.png" alt="logo" width="200" height="100" loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture">
            <img class="cs-logo" src="https://root-design.nyc3.digitaloceanspaces.com/Cultivate/slowfood.png" alt="logo" width="228" height="100" loading="lazy" decoding="async">
        </picture>
        </div>
    </div>
    <!-- Background Graphic -->
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg" alt="waves" width="1920" height="300" aria-hidden="true" loading="lazy" decoding="async">
    </picture>
</div>

                        

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1634">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Let Us Lighten <br>Your Load</h2>
            </div>
            <p class="cs-text">
                You have enough to do - partner with us and we'll take care of your website and marketing! You can focus on your business, and we'll focus on your digital presence. We can help with website design, Google marketing, email automations, SMS marketing, advertising, graphic design, and more. We're passionate about serving local farms, food councils, and local food initiatives across the US and Canada.
            </p>
        </div>  
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chat-gold.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Customized to Your Business</h3>
                        <p class="cs-item-text">
                            We will work with you no matter how large your project is - we can help with a simple website, a complex e-commerce store, or a full marketing plan. We will work with you to understand your unique business and create a plan that works for you.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/call-gold.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">We Walk With You</h3>
                        <p class="cs-item-text">
                            We are with you through the whole process - from an initial consultation to the launch of your website or marketing plan. We will also be there for ongoing support and management of your project.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/money-gold.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">We Are Experienced</h3>
                        <p class="cs-item-text">
                            We have owned small businesses and worked with farmers, retailers, distributors, and customers for many years. We know how hard you work and that there are often not enough hours in the day. We are here to help you with your digital presence so you can focus on your business.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="cs-image-group">
                <div class="cs-picture-wrapper">
                    <picture class="cs-picture cs-picture1">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/Country%20side-pana%20(1).png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/Country%20side-pana%20(1).png">
                        <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/Country%20side-pana%20(1).png" alt="meeting" width="434" height="414">
                    </picture>
                    <div class="cs-box">
                        <span class="cs-header">Grow Your Business</span>
                        <span class="cs-desc">You take a break, we'll do the work! </span>
                    </div>
                </div>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/Collab-bro%20(1).png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/Collab-bro%20(1).png">
                    <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/Collab-bro%20(1).png" alt="on computer" width="197" height="197">
                </picture>
            </div>
        </div>
    </div>
</section>
            

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<div id="gallery-565">
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/zoe-schaeffer-w4pf6J_85Z8-unsplash.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/zoe-schaeffer-w4pf6J_85Z8-unsplash.jpg">
        <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/zoe-schaeffer-w4pf6J_85Z8-unsplash.jpg" alt="picture" width="480" height="549">
    </picture>
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/erik-jan-leusink-n4UBj5MJgOc-unsplash.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/erik-jan-leusink-n4UBj5MJgOc-unsplash.jpg">
        <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/erik-jan-leusink-n4UBj5MJgOc-unsplash.jpg" alt="picture" width="480" height="549">
    </picture>
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/shiola-odan-ozJRTUYu09o-unsplash.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/shiola-odan-ozJRTUYu09o-unsplash.jpg">
        <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/shiola-odan-ozJRTUYu09o-unsplash.jpg" alt="picture" width="480" height="549">
    </picture>
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/mk-s-tHHFiw6GNEU-unsplash%20(1).jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/mk-s-tHHFiw6GNEU-unsplash%20(1).jpg">
        <img loading="lazy" decoding="async" src="https://root-design.nyc3.digitaloceanspaces.com/root-design-site/mk-s-tHHFiw6GNEU-unsplash%20(1).jpg" alt="picture" width="480" height="549">
    </picture>
</div>
        
       
<!-- ============================================ -->
<!--                    Events                    -->
<!-- ============================================ -->

<section id="events-1438">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">News & Articles</span>
            <h2 class="cs-title">Directly from The Latest News and Articles</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-one.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-one.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-one.png" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">07 Sep, 2022</span>
                <div class="cs-info">
                    <h3 class="cs-h3">The Best Online Fundraising Platforms for Charities</h3>
                    <p class="cs-item-text">
                        The humanitarian action plan aims to reach over 110 million children impacted by conflict.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-two.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-two.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-two.png" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">07 Sep, 2022</span>
                <div class="cs-info">
                    <h3 class="cs-h3">Changes In Landscapes And Wildlife Worldwide</h3>
                    <p class="cs-item-text">
                        The humanitarian action plan aims to reach over 110 million children impacted by conflict.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event2.jpg" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">07 Sep, 2022</span>
                <div class="cs-info">
                    <h3 class="cs-h3">Let’s Take Care of Nature for The Sake of The Earth</h3>
                    <p class="cs-item-text">
                        The humanitarian action plan aims to reach over 110 million children impacted by conflict.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-three.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-three.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-three.png" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">07 Sep, 2022</span>
                <div class="cs-info">
                    <h3 class="cs-h3">Let’s Take Care of Nature for The Sake of The Earth</h3>
                    <p class="cs-item-text">
                        The humanitarian action plan aims to reach over 110 million children impacted by conflict.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
        <button class="cs-button-solid">Discover More</button>
    </div>
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves5.svg" alt="waves" >
    </picture>
</section>
                                
    {% include 'components/cta.html' %}
{% endblock %}